[2013-07-05 10:41] johanneswuerbach opened #5 "Build never exits"
With `startConnect: true` and `singleRun: true` the node process is never existing on Mac and Linux (Travis).

This is the last displayed output with verbose.

[code]

[2013-07-05 10:49] johanneswuerbach opened #6 "Kill workers during run"
Sauce is limiting the number of browsers running in parallel.

If I try to use more browser combinations (3) than I'm allowed to run in parallel (2) the test suite is never finishing as 2 workers are running and the 3rd is always queued.

We should kill workers asap after they completed their test run.

[2013-07-14 02:49] #6 closed, assigned to nobody

[2013-07-17 04:19] #5 closed, assigned to nobody

[2013-08-25 19:06] wnr opened #8 "Concurrency limit"
Is there any way of setting the concurrency (parallel) limit when testing with sauce? Because right now I'm unable to
test more than 3 browsers because I'm hitting my parallel cap of my open sauce account.

Have a look at https://github.com/axemclion/grunt-saucelabs which have the concurrency option.

[2013-09-11 08:05] rkistner opened #10 "Mark browser tests as pass/fail"
It would be useful if Karma could mark tests as passed/failed for each browser, using this API:

https://saucelabs.com/docs/additional-config#alternative-annotation-methods

This is probably only useful when done from some CI environment with "singleRun: true".

[2013-10-01 07:35] shahata opened #12 "Upgrade to wd 0.1.5"
Saucelabs currently fail to start Firefox with the current wd version (0.0.34). I tested locally and it seems you just need to update package.json and no code changes are required.

[2013-10-01 22:16] vojtajina opened #13 "Use REST API (instead of selenium)"
https://saucelabs.com/docs/rest#jsunit

[2013-10-02 00:14] johanneswuerbach opened #14 "Slow shutdown"
In several builds on Travis I see the exit after "INFO [launcher.sauce]: Shutting down Sauce Connect" takes 2-3 minutes. I'm not sure whether this is a karma or sauce connect launcher problem.

Do you have any idea? Browsers used are FF 20 (Win 8), IE 10 (Win 8) and Chrome (Linux)

[2013-10-10 19:35] #8 closed, assigned to nobody

[2014-01-20 23:30] yyx990803 opened #20 "Concurrency issue"
I'm not sure if this is the actual problem but here's what I have been running into:

I have a free open source account on Sauce Labs running tests in 9 different browsers, but the max parallel tests I can run is 3 at a time. Since karma waits for all browsers to connect before running the tests, it just gets 3 connected browsers and then sits there waiting. And since no tests are run, Sauce Labs

[2014-03-05 22:56] nickradford opened #22 "Issues running against sauce labs"
I'm getting the following error `"Fatal error: Cannot call method 'apply' of undefined"` when running against the following browsers.

Any insight would be greatly appreciated!

[code]

[code]

[2014-03-15 08:21] SergioCrisostomo opened #24 "IE6 freeze"
Hi all!

I have been trying to test my javascript with Grunt/Karma/Jasmine on SauceLabs and I get a recurrent error: `internet explorer 6 (Windows XP) on SauceLabs have not captured in 120000 ms, killing.`

Is this a know issue? is there a "ritgh way to do this?"

All other IE work on my tests, just IE6 doesn't. I Can see on SauceLabs "Karma is running" but nothing more happens.

[2014-03-18 04:57] #12 closed, assigned to nobody

[2014-03-18 05:08] #10 closed, assigned to nobody

[2014-03-24 17:43] #24 closed, assigned to nobody

[2014-03-26 17:05] #22 closed, assigned to nobody

[2014-03-29 01:19] vojtajina opened #26 "Does not run on Node 0.8"
See https://github.com/bermi/sauce-connect-launcher/pull/20

Here is the failing build:
https://travis-ci.org/karma-runner/karma/jobs/21803132#L2123

[2014-03-29 06:36] #26 closed, assigned to nobody

[2014-03-29 14:19] SergioCrisostomo opened #27 "Sauce Labs badge, session ID and reporting build status"
@ChrisWren, would be **great** to have some info on how to use Karma-Sauce to report back to SauceLabs and get [the nice browsers badge](https://saucelabs.com/docs/status-images).

I understand the sessionID is needed and a reporting method after the build has run (pass/fail). Could you share some pointers on that? I am using Grunt-Karma [on my repo](https://github.com/SergioCrisostomo/mootools-co

[2014-04-02 15:48] #27 closed, assigned to nobody

[2014-04-04 05:22] jhchen opened #30 "Cannot turn screenshot recording off"
If we set recordScreenshot to false this line https://github.com/karma-runner/karma-sauce-launcher/blob/master/lib/sauce_launcher.js#L72

`'record-screenshots': args.recordScreenshots || config.recordScreenshots || true`

still evaluates to true. I'm not sure why but passing in

[code]

is not a valid workaround so perhaps `helper.merge` has a similar issue.

[2014-04-04 09:56] #20 closed, assigned to nobody

[2014-04-04 18:22] #30 closed, assigned to nobody

[2014-04-11 12:56] bermi opened #33 "Heartbleed update required for sauce connect users"
I just updated sauce-connect-launcher to 0.4.0 in order to use the Sauce Connect version released today by Sauce Labs. This change addresses the Heartbleed issue on their end

More details about the change bermi/sauce-connect-launcher#22

[2014-04-11 16:07] #33 closed, assigned to nobody

[2014-04-11 17:51] ChrisWren opened #34 "Release patch version to npm"
@vojtajina can you release a patch so we aren't exposed to the heartbleed vulnerability anymore?

[2014-04-11 20:55] ichernev opened #35 "bump sauce-connect-launcher to >= 0.3.5"
sauce-connect-launcher <= 0.3.3 does not work on linux, because of hearbleed emergency changes. 0.3.5 fixes that, but its still possible for ~0.3.0 to fetch 0.3.3 (its happening for me on travis).

So can you please indicate version >= 0.3.5 for sauce-connect-launcher and bump karma-sauce-launcher?

[2014-04-11 21:01] #35 closed, assigned to nobody

[2014-04-12 01:40] #34 closed, assigned to nobody

[2014-04-25 05:36] vojtajina opened #36 "The reporter prints console.logs etc"
So when used together with say "dots" reporter, you see console.logs twice

[2014-04-30 13:18] vojtajina opened #37 "captureTimeout should start after a browser is granted"
Most of the time it gets timeouted on just waiting for a browser, not actual problem.

[2014-05-22 20:53] caitp opened #38 "formatSauceError: `err.data` not always defined"
This section is logging some nasty errors in a watchtower.js build today https://travis-ci.org/angular/watchtower.js/builds/25822074#L1451 --- I'm not sure how problematic that is, but maybe doing this in a safer way might be better

[2014-06-04 12:25] wnr opened #40 "Having many browsers fails"
Hi,

I have 11 browsers that I want to run on saucelabs. When running the browsers in batches of 4-4-3, everything works perfectly. When running all 11 browsers, things are not working.

This is what's happening:
1. I get the INFO message in my console saying ```INFO [launcher]: Starting browser ... on SauceLabs``` 11 times, which is expected.
2. I see all 11 browsers appear on SauceLabs, queueing

[2014-06-13 09:56] pkozlowski-opensource opened #41 "Error status get reported when a browser fails to start initially but works OK on second try"
With mobile browsers (mostly IPhone on iOS) I can quite often see the following situation:

(1) Karma tries to start a browser. This initial start fails with:

[code]

(2) This is fine, Karma tries to start the same browser again:

[code]

and this time a mobile browser starts OK and tests are passing just fine.

Now the problem: when I inspect what gets reported to SauceLabs is the same status tw

[2014-06-27 03:51] #13 closed, assigned to nobody

[2014-06-29 12:18] #38 closed, assigned to nobody

[2014-06-30 08:30] pkozlowski-opensource opened #42 "pendingHeartBeat timeout not cleared properly"
In ceratin circumstences the timeout here: https://github.com/karma-runner/karma-sauce-launcher/blob/f1d2cb4d662248185043731358276dbad76d2cf0/lib/sauce_launcher.js#L56 is not cleared properly and prevents Node.js process from exiting. This is not great since it makes the Gulp+Karma integration story more difficult.  Manifestation of the situation can be sometimes in SauceLabs builds with this erro

[2014-07-06 19:24] pkozlowski-opensource opened #44 "Something in Sauce launcher prevents Karma from exiting cleanly"
Check the minimal reproduce scenario in this repo:
https://github.com/pkozlowski-opensource/gulp-karma-sauce

There is something in the sauce launcher / its dependencies that prevents Karma from exiting cleanly when tests finished. Here is the simple run on Travis with verbose logging turned on: https://travis-ci.org/pkozlowski-opensource/gulp-karma-sauce/builds/29215140

The last log is listing o

[2014-07-21 13:26] pkozlowski-opensource opened #46 "[TypeError: Object #<Object> has no method 'split']"
So, this issue that was surfacing in the past is not quite fixed :-/ The improved the situation, but it might happen that the `err.data` is an object, ex.:

[code]

This object doesn't have the `split` method so the whole thing fails. We need to explicitly test for the presence of the `split` method or get rid of it altogether (actually, I'm not sure we really want to be so into formatting this er

[2014-07-23 06:24] firehist opened #49 "SauceLabs custom-data"
Hey guys,
First of all, thank you for these project around karma.
I see that sauceLabs allows us to post "custom-data" informations.
I also see that "custom-data" is used to store result of testing (pass/fail).

Is there a possibility to add custom "custom-data" and retrieve them on SauceLabs dashboard (For my case some Jenkins informations) ?

[2014-07-24 17:28] #46 closed, assigned to nobody

[2014-08-28 13:23] bessdsv opened #55 "dont close sauce-launcher"
In new wersion used next code in lib/sauce_launcher.js
this.on('kill', function(done) {
    if (sessionIsReady) {
      ....
      driver.get('about:blank').catch().quit().nodeify(allDone);
      sessionIsReady = false;
    } else {
      pendingCancellations++;
      process.nextTick(allDone);
    }
  });
};

when i run karma with existing Virtual Tunnel and setted startConnect: false - all work

[2014-12-02 17:29] theCampbell opened #57 "iPhone 4.3 cannot be called via Karma-sauce-launcher"
When putting the following into karma.conf-ci.js...(using the example to demonstrate)

  'TestyBesty': {
      base: 'SauceLabs',
      browserName: 'iPhone',
      version: '4.3',
      platform: 'OS X 10.6',
      'device-orientation': 'portrait'
    }

or the simplier...

  'TestyBesty': {
      base: 'SauceLabs',
      browserName: 'iPhone',
      version: '4.3'
    }

And running a test on Sa

[2014-12-19 19:29] iwillig opened #59 "Support Custom Firefox Profiles in launcher"
Firefox has the ability to define support custom profiles. This is
important for allowing users to enable custom or experimental features
for testing. An example of this is webgl support, which partially
works on Sauce Labs.

Using a library called firefox-profile, the sauce labs launcher should
allow users to define custom properties.

[2014-12-21 15:44] rolandjitsu opened #61 "launcher fails to start Sauce Connect"
Every time I try to run a test using Karma and this launcher agains SL, I get the following message:

[code]

My `karma.conf.js` file looks like:

[code]

The `SAUCE_USERNAME` and `SAUCE_ACCESS_KEY` are available as env variables so the launcher should be able to start SC using those, but it fails every time and I cannot seem to figure out the cause of it.

[2014-12-31 01:12] necolas opened #62 "Support for 'idle-timeout'?"
I haven't been able to get tests running on all the browsers in my config (on Travis), because the sessions get killed after 90 seconds. Apparently `idle-timeout` is the capability that can help with this. If not, what should I be doing?

https://travis-ci.org/necolas/dom-shims/builds/45507944

[2015-01-18 08:24] agray commented on #5
This still appears to be a problem

[2015-01-20 18:00] JamieMason commented on #62
I'm having similar issues here.

I don't know if this is a hard figure that affects everyone or whether it varies dependent on network conditions, but I've found I can run any of these browsers individually and up to 6 together at the same time.

Attempting to run 7 or more results in timeouts like @necolas's across _every_ browser — it's not the case that first few work then the rest time out or

[2015-01-22 20:37] aaronshaf opened #63 "Publish new release with README.md"
The latest npm release for this package is littering our consoles with `No README data` :)

[2015-01-23 17:48] JamesMGreene commented on #40
Still seeing the same issues today: https://saucelabs.com/u/JamesMGreene_dcs

[2015-01-27 06:39] progman32 commented on #14
+1 for us too. We currently have an active support ticket with SauceLabs to try and figure things out. Of note, the navigation to about:blank is indeed the culprit, but changing it to navigate to some other site instead (we used google) does not help. Will update as we learn more.

[2015-01-29 00:26] progman32 commented on #14
For us, it was a timing issue specifically in Chrome + Sauce. Seems like removing an iframe from within its own ```load``` event handler hangs Sauce + Chrome when the session is torn down, but only if that iframe is loading about:blank. Here is a minimal repro:
[code]
One of our tests does something similar. We've worked around the issue for now by loading a different site in the iframe.

[2015-02-03 22:16] aaronshaf opened #64 "Please add more collaborators"

[2015-02-09 14:06] mightyiam commented on #40
:hamster:

[2015-02-09 18:11] tehfoo opened #65 "Build failures due to use of ~ on dependency in `adm-zip`"
Hi -

This project has a dependency on `adm-zip`, which in turn depends on ` fidonet-mailer-binkp-crypt`.

The problem is, you're using ~ on a < 1 dependency, which opens the door to down stream updates, chaos, and ennui.   Since those people downstream of you are using `"fidonet-mailer-binkp-crypt": ">0.0.20"`,  you're now going to get every downstream change, like it or not.  Sadly, that project

[2015-02-09 18:36] tehfoo commented on #65
Just adding to this, it's sad we can't trust SemVer and ~ to work, but there's some insane people downstream with `>0.0.0` as dependencies.  Yikes and double yikes.

[2015-02-09 18:39] tehfoo opened #66 "Replace `adm-zip` with built in zlib"
As an improvement to this really handy project, I'd suggest moving off `adm-zip` and instead using the zlib support that's built into node?

http://nodejs.org/api/zlib.html

At the least don't blindly accept downstream updates from them?

[2015-02-09 18:54] tehfoo commented on #66
Oh, dang... I meant this for `karma-sauce-connect`.  Sorry!

[2015-02-09 18:54] #66 closed

[2015-02-09 18:57] tehfoo commented on #65
One more thing, I understand karma isn't responsible here.  Just trying to get the word out in as many places as possible, since this is likely affecting a lot of people.

[2015-02-09 20:21] tehfoo commented on #65
I'm closing this, our dependency problem got solved downstream.

https://github.com/bermi/sauce-connect-launcher/issues/47

[2015-02-09 20:21] #65 closed

[2015-02-15 14:19] mightyiam commented on #37
:cat:

[2015-03-02 12:06] mightyiam commented on #64
+1

[2015-03-06 14:48] ipeychev opened #67 "[QUESTION] How can I reduce log verbosity?"
Hello,

Is it possible to reduce the log verbosity? We run our tests via Travis and it [complains](https://travis-ci.org/alloyui/core/builds/53331790) that the log is too big. We have specified LOG_ERROR level in karma config file, but it seems it is not being taken in consideration, because there are a [lot of messages](https://travis-ci.org/alloyui/core/builds/53331790) like:
[code]

Looking in

[2015-03-09 16:35] Jonahss commented on #67
You could submit a Pull Request to have that log line respect the karma
error-level configuration.

On Fri, Mar 6, 2015 at 6:48 AM, Iliyan Peychev <notifications@github.com>
wrote:

[2015-03-10 22:23] Krinkle commented on #67
The progress indication of the test execution is not provided by karma-sauce-launcher. And even in Karma's main output, that is not related to "debug" level output.

The default reporter is `progress`, which prints a line for each update (if possible, it rewrites the previous line, but in aggregated logs like Jenkins or Travis CI that doesn't work).

Consider using the `dots` reporter instead.

Se

[2015-03-11 03:55] ipeychev commented on #67
Thanks, makes sense.

[2015-03-11 03:55] #67 closed

[2015-03-12 08:36] lygstate opened #68 "Upgrade sauce-connect-launcher"

[2015-03-16 04:49] freizl commented on #68
+1

[2015-04-02 22:01] seancunningham opened #69 "Mocha tests not running using Safari 8 with Mac OS 10.10"
Hi there,
We are having an issue with our mocha tests starting while using Safari 8 as a platform with the karma-sauce-launcher plugin. We have tried all other combinations of Windows 8.1/8/7 and Mac OSx 10.10/10.9 with Chrome 43/42/41, Firefox  36/35/34, and Safari 7 - which do not seem to have this issue. Locally, we have also tested Safari 8 with success - so we are sure that it is not an issue

[2015-04-12 16:34] matteofigus commented on #68
+1

[2015-04-13 05:43] MoOx commented on #64
Yeah that would be nice to see some activity around here :)

[2015-04-13 05:46] MoOx commented on #62
Have same issue here. It's hard to use this plugin when this kind of limitation.
I might do a PR but I would like to know if something will take care of the merge (since the recent non activity of this package)

[2015-04-13 05:53] MoOx commented on #40
Getting so many issue with too many browsers. It make this plugin so painful to use :/
Is there someone here that might handle something ?
poke #64

[2015-04-14 13:25] sveisvei commented on #64
+1 @vojtajina should consider adding collaborators

[2015-04-28 23:58] monolithed commented on #40
+1, many strange errors https://travis-ci.org/monolithed/polyfiller/jobs/60458589

[2015-04-29 00:08] monolithed commented on #69
+1, I've the same problem

ERROR [launcher.sauce]: Can not start chrome 41.0 (Windows 8.1)
ERROR [launcher.sauce]: Can not start chrome 41.0 (OS X 10.10)
ERROR [launcher.sauce]: Can not start firefox 32.0 (OS X 10.10)
ERROR [launcher.sauce]: Can not start firefox 37.0 (Windows 8.1)
ERROR [launcher.sauce]: Can not start firefox 37.0 (Linux)
ERROR [launcher.sauce]: Can not start ipad 8.2 (OS X 10.10

[2015-04-29 00:55] Krinkle commented on #40
@monolithed Not strange at all. The [build](https://travis-ci.org/monolithed/polyfiller/jobs/60458589) says "Uh oh, you've run out of minutes!". You may wanna check your SauceLabs account and/or contact their support.

[2015-05-07 21:44] IgorMinar commented on #68
@zzo it might be a good idea to update this. I was hunting down some sauce connection issues and suspected it was due to old dependency, which turned out to be incorrect in the end, but updating the dep might be a good idea regardless. thanks!

[2015-05-07 21:45] zzo commented on #68
np, have noticed a lot of complaining in the angular builds about the older
version of 'sc'.

On Thu, May 7, 2015 at 2:44 PM, Igor Minar <notifications@github.com> wrote:

[2015-05-07 22:18] zzo commented on #68
0.2.11 up on npm

[2015-05-07 22:18] #68 closed

[2015-05-08 00:52] IgorMinar commented on #68
Thanks!

On Thu, May 7, 2015, 3:18 PM Mark Trostler <notifications@github.com> wrote:

[2015-05-12 13:12] SirDarquan opened #70 "False Pass Result"
The Sauce Reporter grabs the browser.lastResult object and uses the failed and error properties to determine if the final result should be pass or fail. Normally this is ok but in my situation this produces a false positive. I've had strange sessions occur where the tests aren't actually run at all and while there's no error, the success and failed counts are a zero. One thing I did notice is that

[2015-06-29 21:38] theCampbell opened #71 "Sauce Connect can close before tests complete, causing a race condition"
The logic that closes Sauce Connect appears to have a race condition where the tunnel can be closed before tests have completed running.  For example, at the tutorial found at the following link....

https://docs.saucelabs.com/tutorials/js-unit-testing/

If one were to run the tutorial with a less than optimal connection to Sauce Labs (EG, geolocation far from Northern California).  Then the tutor

[2015-07-11 15:49] vernak2539 opened #72 "Saucelabs not getting registered"
Having trouble getting this running in my personal project. I've tried the example repo, but it seems to have the same issue. The the errors below are from the [sample project](https://github.com/saucelabs/karma-sauce-example.git). Nothing has been modified in any file.

I've tried with the connection started via binaries and `sauceConnect` set to false. I've tried unencrypted username and accessK

[2015-07-16 13:41] matthewjh commented on #72
I'm having the same issue, preventing me from using this module entirely.

[2015-07-16 13:52] vernak2539 commented on #72
@matthewjh I ended up just running it on TravisCI, and not locally. That being said, here are a few things I found when testing this out.

1. Using the karma-sauce-example sauce.json file only worked when the username and accessKey were unsecure. Not good if you want to add it to open source
2. It only worked on windows when trying to run locally, although I did not test with linux, but I assume i

[2015-07-17 18:07] sbichenko commented on #72
I fixed this exact error by adding `'karma-sauce-launcher'` to `plugins` in karma config file.

[2015-07-17 20:07] sbichenko commented on #61
I have the same problem and I have no idea what to do.

[2015-07-18 07:09] sbichenko opened #73 "Sauce Connect fails on Travis unless `startConnect: false` and `tunnelIdentifier: process.env.TRAVIS_JOB_NUMBER` are specified in config"
After spending a day trying to use karma sauce launcher with Travis CI, I found the following:

**in Karma config `sauceLabs.startConnect` should be set to `false`,** otherwise the following error is received:

[code]

**Also, `tunnelIdentifier` should be set to `process.env.TRAVIS_JOB_NUMBER`** (as per [documentation](https://docs.saucelabs.com/ci-integrations/travis-ci/)), otherwise browsers nev

[2015-07-31 17:26] SimonWoolf commented on #61
@rolandjitsu @sbichenko --

I had the same error. So it says the sc binary exited with an error; unhelpfully it doesn't tell you what the error was. You can find it out yourself by running sc manually:

- Find out the exact command karma-sauce-launcher is running by setting `logLevel` to `config.LOG_DEBUG` in karma.conf.js and trying again. It'll print something like `DEBUG [launcher.sauce]: Start

[2015-08-05 13:39] vernak2539 commented on #72
Will have to try that. Assumed it wasn't needed since `karma init` didn't output it in the base config file and all others seem to work without registering. @sbichenko thanks

[2015-08-08 07:47] riggerthegeek commented on #24
Karma v0.13 has removed `json-polling` from it's list of [transports](http://karma-runner.github.io/0.13/config/configuration-file.html) and replaced with `polling`.  However, no matter what I try, I can't get this to work in v0.13.

It seems that, if you want IE6 support, you need to use Karma v0.12.  This also seems to be the case with IE7 too.

[2015-08-10 21:08] riggerthegeek commented on #72
You can also fix this error by removing the `plugins` array entirely. I found that more useful an approach

[2015-08-11 08:45] vernak2539 commented on #72
@riggerthegeek there is no `plugins` array in the [example config file](https://github.com/saucelabs/karma-sauce-example/blob/master/karma.conf-ci.js). Wish that would have worked. Adding `karma-sauce-launcher` to the plugins array seemed but still wonder why this is the only one I have to do it for

[2015-08-11 08:58] riggerthegeek commented on #72
@vernak2539 that is very strange. I've created a [gist](https://gist.github.com/riggerthegeek/8e28e9fea81835fad6bf) of my setup. There's no `plugins` in at all. Hopefully, you'll be able to work out what's different between mine and yours

I've also put my `package.json` in there. It may be that something like the grunt loader or the Karma version is doing the loading automatically (I'm using Karm

[2015-08-12 21:03] TheSavior commented on #61
I'm running into the same problem. Can't seem to get sauce started on travis.

[2015-08-13 23:26] martijnrusschen commented on #61
Running into the same issue on Travis

[2015-08-16 16:56] saulshanabrook commented on #72
@vernak2539 I was having the same problem. You have to include it manually if you define the `plugins` setting, because by default karma adds all npm modules installed that start with  `karma-` to your plugins. If you define plugins manually, then you have to add them individually.

[2015-08-17 09:05] vernak2539 commented on #72
@riggerthegeek @saulshanabrook a plugins array was not defined. It happened on my codebase and the example provided by the sauce team (stated in a comment above)

Also

Adding the plugin array did solve it, I just had to add all plugins I was using.

Like I asked before, why would I have to include the plugin array just for this plugin and none of the other ones? Like stated before, it should load

[2015-08-18 14:09] mhamel06 commented on #72
I just had the same issue but above the warning it said

[code]

Installing request fixed my issue.

[2015-08-28 16:55] vmmitev commented on #73
This is exactly the problem I ran into. I figured the part where `startConnect` should be `false` but failed to remember the important part in the documentation you linked about setting the `tunnelIdentifier`. All in all I think I owe you a big thanks @sbichenko!

Maybe it's worth making a pull request adding this information to the Readme.md file?

[2015-08-31 14:16] DineshkumarT opened #75 "Getting the timeout error while trying to run tests using sauce connect"
Error message :
{ [Error: connect ETIMEDOUT] code: 'ETIMEDOUT', errno: 'ETIMEDOUT', syscall: 'connect' }

 sauceLabs : {
            testName : 'Karma and Sauce Labs demo',
            recordScreenshots : true,
            host : 'ondemand.saucelabs.com',
            port : '443',
            recordVideo : true,
            startConnect : true,
            connectOptions : {
                userna

[2015-09-10 22:19] vvstej commented on #61
any resolution for this?

[2015-09-11 05:32] rolandjitsu commented on #61
I will try to check if I have the same issue again with a different setup.

[2015-09-24 15:32] jasonkuhrt commented on #64
+1

[2015-09-24 16:09] jasonkuhrt opened #76 "Docs for customLanchers"
The docs herein point to https://saucelabs.com/platforms/ which is not helpful (maybe it used to be but changed since then, I do not know). Its very painful right now to add additional custom launchers correctly.

[2015-10-01 22:26] edwardhotchkiss opened #77 "Lack of contributors / Acceptance of Contributors?"
@zzo I saw that you pushed the last release. I'm sure that you're busy just like all of us. Your work on this project is phenomenal. Now let's talk about the bad. The documentation is out of sync, there are issues and PR's stacking up and people _wanting_ to help.

Shit, I'd contribute. Again, awesome work; please start accepting PR's and allowing contributors to help.

[2015-10-01 22:50] zzo commented on #77
sorry this fell under the radar - totally on me thanks for bringing this up.

[2015-10-01 22:52] edwardhotchkiss commented on #77
Thanks a ton @zzo, I'll work on my first PR right now :) Again, thanks for this project!

[2015-10-01 22:53] zzo commented on #77
any idea why the tests are currently failing on travis?? :)

On Thu, Oct 1, 2015 at 3:52 PM, Edward Hotchkiss <notifications@github.com>
wrote:

[2015-10-01 23:00] edwardhotchkiss commented on #77
We're using Jenkins, sorry Mark. I have some ideas why several things are failing, looking at the codebase now.

[2015-10-09 10:21] nidhimj22 commented on #24
@riggerthegeek  Did you find a fix for this? I'm facing the same problem.

[2015-10-09 12:06] riggerthegeek commented on #24
@nidhimj22 yes, of a fashion.  My solution was to use Karma v0.12.  This is all to do with Karma rather than Sauce Labs, so there's more detail on the bug for that project

https://github.com/karma-runner/karma/issues/983

Comments after mine imply that you can get v0.13 working with IE6.  I haven't tried as I managed to convince the powers that be to drop support for IE6 and 7 (tra la laaaaa)

[2015-10-12 18:47] zenorocha commented on #77
+1

[2015-10-20 20:56] Dignifiedquire commented on #63
Fixed: https://www.npmjs.com/package/karma-sauce-launcher

[2015-10-20 20:56] #63 closed

[2015-10-20 22:35] Dignifiedquire commented on #57
Closing please reopen if this still an issue with the latest version

[2015-10-20 22:35] #57 closed

[2015-10-20 22:36] Dignifiedquire commented on #69
Can you share your karma config please as this looks like an issue either with saucelabs or your config

[2015-10-20 22:42] #14 closed

[2015-10-20 22:42] #36 closed

[2015-10-20 22:42] #49 closed

[2015-10-21 19:50] Dignifiedquire commented on #40
Concurrency limit will be shipped tomorrow in karma :) https://github.com/karma-runner/karma/issues/1646 sorry for the delay

[2015-10-22 12:40] Dignifiedquire commented on #40
Fixed via the new `concurrency` option in karma@0.13.12 :)

[2015-10-22 12:40] #40 closed

[2015-10-23 20:26] forbesjo commented on #59
+1 for this

[2015-10-29 23:40] joscha commented on #8
see #40 and karma-runner/karma#1646.

[2015-11-18 21:46] tarjei opened #80 "The plugin does not report SauceConnect expectations"
Thus you can get timeoutes due to an error in the startConnect config option with no info on what the real problem is.

[2015-12-19 12:09] outsideris commented on #61
I fixed this problem by adding `startConnect: false` and `tunnelIdentifier: process.env.TRAVIS_JOB_NUMBER` as #73.

[2015-12-25 18:18] JamesMGreene commented on #40
Updated REST API doc location for getting the user's concurrency limit:

https://wiki.saucelabs.com/display/DOCS/Account+Methods#AccountMethods-GetUserConcurrency

Or mobile version:

https://wiki.saucelabs.com/plugins/servlet/mobile#AccountMethods-GetUserConcurrency

[2015-12-25 18:51] JamesMGreene commented on #37
Any update, PR, or merged/equivalent implementation?

[2016-01-24 14:55] jackspirou opened #82 "Add BUILD_NUMBER Compatibility For Drone And Others."
The current env vars for `BUILD_NUMBER` are fairly narrow.  I would like to expand them specifically for Drone, but also for other systems that will pick up generic CI env vars like `CI_BUILD_NUMBER`.

[2016-02-04 22:00] CurtisHumphrey commented on #72
I'm getting this same error and I tried the fix of listing out the plugins and it does *not* work for me.  See: https://github.com/CurtisHumphrey/es6-library-boilerplate and its Travis for details: https://travis-ci.org/CurtisHumphrey/es6-library-boilerplate/builds/107020222

[2016-02-08 09:04] #82 closed

[2016-02-17 08:09] julmot commented on #61
@SimonWoolf Thank you! I could find out that Sauce Connect is detecting a proxy that way.

[2016-02-17 09:03] julmot commented on #80
@tarjei I agree with you, a hint should be implemented. In the meantime, have a look at this comment: https://github.com/karma-runner/karma-sauce-launcher/issues/61#issuecomment-126759408

[2016-02-17 09:13] julmot opened #85 "Documentation about sl_* keys in customLaunchers object?"
There isn't anything stated in the README.md about the key names in the `customLaunchers` object. Is there any documentation about it available?

If not: How is it assembled? I see for example there is the name `sl_chrome`, then a name with OS name like `sl_ios_safari` and also a name without OS name but with abbreviated name and version number, like `sl_ie_11`.

[2016-02-22 08:30] julmot commented on #85
it seems to matter how you call those keys. However, the following question remains: Why are we passing keys `browsers: Object.keys(customLaunchers)` that  are random and meaningless?

[2016-02-25 19:35] albedithdiaz commented on #72
HI,
I was having the same error when trying the Karma Example (i.e https://wiki.saucelabs.com/display/DOCS/Setting+Up+Karma+for+JavaScript+Unit+Testing+on+Sauce+Labs).

After looking more into this issue, I noticed that I was missing the Sauce Labs npm module (i.e https://www.npmjs.com/package/saucelabs). Thus following these steps solved the problem on my end:

1. git clone https://github.com/sau

[2016-03-04 21:41] epoberezkin opened #88 "Configuration for circleci"
I am seeing this error for all configured browsers:

[code]

Please see https://discuss.circleci.com/t/karma-test-with-saucelabs/2512 as well

Could you please help me configure karma-sauce-launcher for circleci?

[2016-03-20 14:23] mcasimir commented on #70
+1

also happening to me, and having tests not running but passing is a nightmare for CI.

[2016-05-06 19:58] #69 closed

[2016-05-19 07:34] edoardocavazza opened #91 "Safari/Edge DISCONNECTED after 50 tests"
Hi,

I am trying to test my library using karma and saucelabs, but I can't complete my tests in Edge and Safari browsers because they disconnect after 50 tests both.

If I run karma in my local environment (same so, same browsers), it's all ok, so it seems an issue with the launcher.

Thanks,
Edoardo

[2016-06-19 11:01] GuillaumeLeclerc opened #93 "Fix regular expression denial of service"
Hello

The dependency chain is insecure:

karma-sauce-launcher@1.0.0 -> wd@0.3.12 -> request@2.55.0 -> hawk@2.3.1

Advisory :

https://nodesecurity.io/advisories/77

Could it be possible to update the dependencies ?

Thanks a lot !

[2016-06-24 00:17] roberttod commented on #76
I am still not sure the docs in https://github.com/karma-runner/karma-sauce-launcher/pull/79 fully explain how to get custom launcher configs, I have been trying to get the correct config for iOS 9 for some time now.

I found an example that works with iOS 7
[code]

I thought that would translate to
[code]

but no luck 😞.

The [platforms configurator page](https://docs.saucelabs.com/reference/plat

[2016-06-25 09:42] GuillaumeLeclerc commented on #40
I still face the same problem any update ?

[2016-06-25 10:24] mightyiam commented on #40
@GuillaumeLeclerc are you using 0.13.12 or newer? Are you using the `concurrency` option?

[2016-06-25 20:17] cellog opened #94 "how can I debug this?"
I am running this test:

[code]

in a checkout of https://github/cellog/react-selection/tests

with these karma configs (first is karma.common.conf.js):

[code]

here is the webpack config (tests/test.config.es6.js):

[code]

and this one as the primary (karma.ie.conf.js):

[code]

onlyie.js is:

[code]

and using this script to run the tests after starting sc 4.3.16:

[code]

Now here's the kicke

[2016-07-03 06:56] boneskull commented on #93
@GuillaumeLeclerc wd itself [hasn't been updated](https://github.com/admc/wd/issues/434) to fix those problems.

[2016-07-07 03:25] ChrisWren commented on #42
FYI: I no longer use or maintain this plugin

[2016-07-15 14:29] d6u opened #95 "Successful tests are marked as failed because of DISCONNECTED"
[code]

While running the tests, I often see something like this:

[code]

But IE tests has already passed before this message.

Let me know how I can provide more information.

This is my dependencies:

[code]

[2016-07-16 02:55] cellog commented on #91
this happens in all remote browsers

[2016-07-24 23:21] edoardocavazza commented on #91
I got this because of a `console.warn` error. Disabling the console capturing, everything gone ok.

[2016-07-29 08:03] julmot opened #96 "configuration syntax different to Platform Configurator"
The documentation suggests using:

[code]

But the [Platform Configurator from SauceLabs](https://wiki.saucelabs.com/display/DOCS/Platform+Configurator#/start) suggests using:

[code]

In summary:
- `version` becomes `platformVersion`
- `platform` becomes `platformName`
- `platformName` is no longer the OS X version of the emulator, but iOS

But when running karma-sauce-launcher with the syntax of

[2016-07-29 19:20] dignifiedquire commented on #96
@julmot the last time I looked at the docs from Sauce Labs they looked quite different. I'm afraid I have no idea what changes they have done internally and why this fails. I suggest contacting their support and ask them to clarify so that we can update the documentation here. Thank you.

[2016-08-06 22:02] evilaliv3 opened #98 "Request dependency <=2.68 opens to potential memory exposure vulnerability"
This ticket is to report a a potential security vulnerability caused by the request dependency.

The dependency `wd` used by `karma-sauce-launcher` make use of a vulnerable version of the request package (<2.68) that allow potential memory exposure.

details:
- https://snyk.io/vuln/npm:request:20160119
- https://github.com/admc/wd/pull/439

[2016-08-22 22:25] DylanLacey opened #100 "Weirdo IE/Sauce/Karma behaviour"
So, this is more of a story then a bug; Not really sure where to go with it.

On some OSX versions, Safari won't use any system proxies to route traffic for `localhost`.  This means that traffic doesn't get redirected though Sauce Connect, so tests fail.

You can fix this by assigning a hostname and using the karma `hostname` option, which works great.... Except if you omit a TLD (eg, `http://karm

[2016-08-23 11:38] SteveVanOpstal commented on #100
A part of the log output when you run IE11 with a single hostname (in this case `hostname: 'karma'`):
[code]

[2016-10-20 06:33] nick-woodward commented on #95
So after a few days of messing around, I've come to realize that various browsers will fail to stop if you use any form of code coverage.

`isparta-loader`, `babel-plugin-istanbul`, etc. all cause Edge 14, Safari 9, and Safari 8 to hang on Sauce Labs.

[2016-11-28 14:52] janmeier commented on #95
Thank you @nick-woodward ! Spent 3 hours trying to figure out why my tests wouldn't finish in safari - Turns out it wasn't my tests after all ...

[2016-11-29 22:33] ccoffey opened #106 "Bump dependencies?"
Any chance you can release a new version with updated dependencies?

The latest release of [sauce-connect-launcher](https://www.npmjs.com/package/sauce-connect-launcher) is v1.1.1
The latest release of [saucelabs](https://www.npmjs.com/package/saucelabs) is v1.3.0

I'm seeing a lot of sauce connect failures recently and I'm wondering if updating the above dependencies in karma-sauce-launcher will

[2016-12-04 20:47] LukeSheard opened #107 "Define multiple custom launchers for browsers"
Is it possible to define the runner to run on multiple browser versions / OSs?

[2016-12-17 17:47] joeldenning commented on #107
I am interested in this too.

[2016-12-17 17:55] joeldenning commented on #107
@LukeSheard I was able to pull it off with the following config. Notice how I have both safari 9 and safari 10 -- I've just given them different names in the customLaunchers config.

[code]

[2016-12-17 22:04] LukeSheard commented on #107
@joeldenning I actually figured this out a while ago and just forgot about this issue. It was more of an understanding Karma issue that anything. I used a more complicated design but you can see it here: https://github.com/trueadm/inferno/tree/dev/test/karma

[2016-12-17 22:10] #107 closed

[2016-12-28 21:21] FezVrasta opened #108 "Can I enable the --doctor flag via karma?"
I would like to enable the `--doctor` flag since I'm experiencing problems with SauceLabs and I need to send them some logs. Is it something feasible?

Thank you.

[2017-01-07 20:00] julmot opened #110 "Pass -B *google.com?"
Due to a SSL error of SauceLabs I need to pass `-B *google.com` to SauceConnect. I've tried:

[code]

in my `karma.conf-ci.js` but that causes the test to fail immediately:

[code]

How can I pass this to SauceConnect?

@dignifiedquire

[2017-01-13 16:46] fernandosouza opened #113 "DOC Issue - Link for How to run tests in Saucelabs locally is missing"
[karma-sauce-example repo](https://github.com/saucelabs/karma-sauce-example) doesn't exist anymore.

The part of the documentation that needs to be fixed:
https://github.com/karma-runner/karma-sauce-launcher#example-karma-sauce-launcher-configs

[2017-01-13 22:41] DevVersion commented on #44
@pkozlowski-opensource Did you ever manage to fix it? 😄

[2017-01-17 20:56] julmot commented on #110
I still don't know why, but according to https://github.com/bermi/sauce-connect-launcher/issues/112 the following seems to work:

[code]

Even though defining "all" disables it for all domains, not only google.com.

[2017-01-17 20:56] #110 closed

[2017-02-01 03:40] jlmakes commented on #95
3 hours? Pff, try 3 days...

Can't believe I didn't search this repository sooner. I had narrowed it down to the most perplexing lines of code, and couldn't understand what was going wrong. My cousin began to joke that I had actually died and was stuck in purgatory, working on the same bug forever.

[2017-02-17 01:27] chank opened #117 "Cannot find module '../build/safe-execute'"
Hi, I want to debug preact, but when I run `npm run test` got the following error:
[code]
nodejs: v6.9.5-x64

I'm not sure it's a Karma incompatibility with Windows? Can anyone know how to solve this? Thanks.

https://github.com/developit/preact/issues/546

[2017-03-16 19:11] akxcv commented on #108
I guess it's too late, but you can pass `doctor: true` like this:

[code]

[2017-03-20 10:06] akxcv commented on #117
This happened to me on macOS, too. I don't know a proper solution, but at the moment I do this:

[code]

[2017-03-30 04:58] voltrevo commented on #117
I'm getting this too. On Travis/Linux.

[2017-04-03 18:49] aore commented on #95
This error is still happening even though I've removed my code coverage tools. My errors look like this:

[code]

With `concurrency: 1`, tests in Chrome 55 pass, then Chrome 56 starts, and then Chrome 55 returns an error due to disconnecting. Similarly, Chrome 54 has a disconnect error after its tests pass and Chrome 55 starts, and Chrome 56 passes with no disconnect error. Chrome 55 *should* disc

[2017-04-08 13:24] JJWesterkamp commented on #117
Same for me. Travis CI reported this same error since yesterday. It used to work fine.

Repo: https://github.com/JJWesterkamp/Sticky-stack
Latest build: https://travis-ci.org/JJWesterkamp/Sticky-stack/builds/220022950#L263

[2017-04-10 01:44] voltrevo commented on #117
It looks like this can occur from a corrupted cache of the `wd` module. It's supposed to create `../build/safe-execute` here:
https://github.com/admc/wd/blob/b1463ce/scripts/build-browser-scripts.js

Forcing a clean install of this module should resolve the issue. On travis I was able to resolve it by deleting my caches.

[2017-04-13 15:04] amejiarosario commented on #95
I had the same error on PhantomJS: `Disconnected, because no message in 10000 ms.`

[code]

[2017-04-20 12:20] FezVrasta opened #133 "Use Android GoogleAPI Emulator?"
I'm trying to run my tests on the new Android GoogleAPI Emulator (Chrome on Android 7), but I get this error:

[code]

This is my browser configuration:

[code]

How can I fix it?

[2017-04-20 12:51] FezVrasta commented on #133
The guys at Sauce Labs told me that I should set the `appiumVersion` capability to `1.6.4`... but I can't find a way to define it with `karma-sauce-launcher`.

[2017-04-20 13:01] FezVrasta commented on #108
Thank you!

[2017-04-20 13:01] #108 closed

[2017-04-27 09:06] Gut6 commented on #133
My example:
`
"SL_Android_4": {
			"base": "SauceLabs",
			"browserName": "Browser",
			"appiumVersion": "1.5.3",
			"platformVersion": "4.4",
			"platformName": "Android",
			"deviceName": "Samsung Galaxy S4 Emulator"
		}`

You will need to adjust it to Your needs. Go to https://wiki.saucelabs.com/display/DOCS/Platform+Configurator#/ and then choose Your required platforms etc. and at the end cho

[2017-04-27 09:33] FezVrasta commented on #133
Yes I already tried it but with 7.0 it throws this error. Try it yourself

[2017-04-27 13:03] Gut6 commented on #133
With this config it finished with success (with some issues but finally it did it):
[code]
Please note that I have `appiumVersion` in my config. Code pasted by You doesn't have it so maybe You forgot it?
On first try I've had timeout `Chrome on SauceLabs have not captured in 60000 ms, killing`, on second it finally passed.

[2017-04-27 16:15] FezVrasta commented on #133
Oh, thank you. With these settings it doesn't throw that error, but I get time out all the times... I tried with both Android 7 and 6 😞

[2017-04-28 05:41] Gut6 commented on #133
Yep, I have the same issue very often. Specially with iPhone emulators which finally led me to removing it from tests. Unfortunatelly I don't know if there is anything we can do because it seems to be issue on the SauceLabs itself. You can try contact them. In the future if You will find reason of those timeouts I will be glad for info about it. :)

[2017-05-19 11:43] edoardocavazza opened #136 "Mobile Safari 10.x heartbeat"
Running tests on saucelabs with config:
[code]
the test are executed but I always got the error:
[code]
Sometimes this error make the build to fail.

[2017-05-19 15:22] rbong commented on #95
I did not find @nick-woodward 's comment to be accurate.
babel-plugin-istanbul works if you disable source maps. Here is an example config. Paths have been modified because they were absolute. Note `devtool: ''` and `sourceMap: false`.
[code]

[2017-05-19 20:42] rajsite opened #137 "How to determine platform, browser, and version fields"
I feel like I'm missing something basic, but how do you determine the values for platform, browser, and version?

The following example is in the README
[code]

Is that running iOS 7.1 on Safari on an iphone in the OS X emulator? How did you determine the browser name should be 'iphone' instead of 'Safari'?

The saucelabs docs all end up pointing to https://saucelabs.com/platforms
But that really

[2017-05-19 20:48] rajsite commented on #137
Of course I think I found it right after posting. SauceLabs has the platform configurator tool:
https://wiki.saucelabs.com/display/DOCS/Platform+Configurator#/

When filling out the form it gives example code with the strings

![image](https://cloud.githubusercontent.com/assets/1588923/26266365/a2a9323e-3caa-11e7-8a6a-4317bc3f7381.png)

[2017-05-19 20:48] #137 closed

[2017-06-03 08:46] mjeanroy opened #138 "Test disconnected on Safari"
Hi,

My unit test suite contain 477 tests and it works like a charm on travis.
But if I add one more test, it starts to fail on Safari 8/9/10 (but it works fine on Safari 10 on my laptop), but it works perfectly on all other browsers (IE 8/9/10/11), Chrome, Firefox).

I already tried lot of things:
- Increase karma browser timeout (`captureTimeout`, `browserNoActivityTimeout`, `browserDisconnectTi

[2017-06-04 11:11] mjeanroy commented on #138
Ok, after some investigation, it seems to be a problem with Jasmine (see [here](https://github.com/jasmine/jasmine/issues/1327)). I downgraded to jasmine 2.5.2 and everything works fine.

[2017-06-04 11:11] #138 closed

[2017-07-12 16:06] appiumams commented on #117
I had the same problem.
I uninstalled and reinstalled wd
npm uninstall wd
npm install -D wd

[2017-08-18 21:59] jdmarshall opened #142 "Doesn't honor parentTunnel in options"
If you try to put the following in
[code]

The way the options are computed causes it to be stripped off in sauce-launcher.js before they ever make it to selenium.

Workaround:  Add the parentTunnel to all of your customLaunchers.

[2017-08-19 15:29] jdmarshall commented on #76
I have had better luck going to the manual testing page and translating them back to selenium:

https://saucelabs.com/beta/manual

[2017-08-21 19:24] jdmarshall commented on #113
Were the other two examples sufficient?

I poked around the saucelabs github repo hoping this had been renamed, but I don't see anything.  Maybe just listing the other two examples would be sufficient?

[2017-08-21 19:28] jdmarshall commented on #100
I've bumped into a number of similar issues and ended up using either the hostname or the IP to please the tunnel.

[2017-08-22 11:50] #142 closed

[2017-08-22 11:57] #62 closed

[2017-08-22 12:23] dignifiedquire commented on #106
Sorry for the delay, fixed in https://github.com/karma-runner/karma-sauce-launcher/releases/tag/v1.2.0

[2017-08-22 12:23] #106 closed

[2017-08-22 12:24] dignifiedquire commented on #98
Sorry for the delay, fixed in https://github.com/karma-runner/karma-sauce-launcher/releases/tag/v1.2.0

[2017-08-22 12:24] #98 closed

[2017-08-22 21:12] roberttod commented on #76
I'd suggest using browserstack instead (that's what I am doing now). Docs are much better and the connection to their servers doesn't constantly timeout like saucelabs - our CI was only passing ~10% of the time due to connection issues.

Check out
- https://github.com/karma-runner/karma-browserstack-launcher

[2017-10-02 13:46] Vheissu opened #145 "Tests not working on Sauce Labs"
Previously tests were working with with SauceLabs using Karma. However, I am not sure if something has recently changed on the side of SL itself in respect to how tunnels are created for testing.

For some reasons tests just time out, I get the following:

<img width="847" alt="screen shot 2017-10-02 at 11 43 35 pm" src="https://user-images.githubusercontent.com/368330/31080281-95922cc2-a7cb-11e7-

[2017-10-09 18:43] thomasconner commented on #145
I am experiencing the same issue here.

[2017-10-10 09:11] Vheissu commented on #145
@thomasconner Good news, I worked out what is causing this today. I went to the extent of changing my build process and everything. I wrote up a blog post on my experience and how I solved it here: https://ilikekillnerds.com/2017/10/karma-sauce-launcher-issue-tests-timing-outnot-running-sauce-labs/

The TL;DR is remove `connectOptions` from your `sauceLabs` configuration object inside of `karma.co

[2017-10-10 21:45] jdmarshall commented on #145
I'm not clear on why, but it's documented somewhere that sauce tunnels don't forward every port.  You have to pick one of the white-listed port (ranges?) or you get no traffic.  Stumbled on that about 18 months ago.  Let me see if I can find the relevant docs...

[2017-10-22 11:03] rolandjitsu opened #146 "Set tests as passed/failed after running the tests"
I've lately noticed that all the SauceLabs browser matrix badges for one of my [repos](https://github.com/rolandjitsu/angular-lab) are greyed out.

According to [Setting Test Status to Pass or Fail](https://wiki.saucelabs.com/display/DOCS/Setting+Test+Status+to+Pass+or+Fail), the `passed` flag needs to be set manually. There is a doc, [Annotating Tests with the Sauce Labs REST API](https://wiki.sa

[2017-10-22 11:08] rolandjitsu commented on #146
Ok, I see that at [sauce_reporter.js#L39](https://github.com/karma-runner/karma-sauce-launcher/blob/master/lib/sauce_reporter.js#L39), the flag is set. Could this issue be on the SL side? As far as I can see, the `Passed` is null on the SL side, check [this](https://saucelabs.com/beta/tests/2f9eb597fbf8458c8790cf987073570a/metadata#2).

[2017-10-22 11:13] rolandjitsu commented on #146
It's also possible that `'custom-data': {}` should be `customData: {}`, but I'm not sure how `SauceLabs` js api handles that.

[2017-10-22 11:49] rolandjitsu commented on #146
Scratch that, I just forgot to set `reporters: [..., 'saucelabs']` 😆

[2017-10-22 11:50] #146 closed

[2017-11-10 18:45] Robert-Frampton commented on #145
Ran into the same timeout issue. Rolling back to karma-sauce-launcher@1.1.0 resolved the issue for me.

[2017-12-15 03:59] thetutlage commented on #145
It's not working for me either with bare minimum config and a one test using Mocha. It is not able to make websocket connection ( check attached screenshot for that ).

## Config

[code]

## Custom launchers

[code]

## Screenshot from saucelabs

<img width="1137" alt="screen shot 2017-12-15 at 9 26 53 am" src="https://user-images.githubusercontent.com/1706381/34026223-78ae09f8-e17a-11e7-89fa-ad9f

[2017-12-18 19:39] jdmarshall commented on #145
Has anyone done a bisect yet?

[2017-12-18 19:45] jdmarshall commented on #145
@thetutlage

I was having websockets problems with saucelabs long before I started using karma-sauce-launcher, so my config has:

`transports: ['polling'],`

That may explain why we aren't experiencing the problem with 1.2.0.

Could one of you run a git bisect and figure out where the problem starts?  I wonder if the dependency updates or the proxy additions are involved.

[2018-03-09 02:15] #145 closed

[2018-04-08 16:40] lsm commented on #42
This branch fixed the heartbeat problem:

https://github.com/edoardocavazza/karma-sauce-launcher/commit/5359b5f6cb754396497ecc2186a4c8e08444e816

Could someone review and merge it, please?

[2018-05-25 12:19] zhenbinjing opened #150 "update sauce-connect-launcher"
system: window 7

webpack v4.8.3
karma-webpack v4.0.0-beta.0

Prompt:
Failed to start Sauce Connect:
spawn C:\Users\Administrator\Desktop\i-cut\node_modules\sauce-connect-launcher\sc\sc-4.4.12-win32\bin\sc.exe ENOENT

Resolvent: update sauce-connect-launcher v.1.2.4

[2018-08-10 10:37] #150 closed

[2018-08-27 18:30] jdmarshall opened #152 "Please fix Travis"
Any time a PR is filed it reports as an error state because this project uses Sauce credentials and of course you don't want to share your Sauce credentials with the rest of us.

Travis has two ways to set environment variables to obscure them from non team members, but this one is probably the one you need:

https://docs.travis-ci.com/user/environment-variables/#defining-variables-in-repository-s

[2018-10-13 11:17] coding365days commented on #72
Hi All,
I suddenly ended up with this big list of warnings and errors in my angular 6 app. Please help.

WARNING in ./node_modules/protractor/built/configParser.js
135:25-42 Critical dependency: the request of a dependency is an expression

WARNING in ./node_modules/protractor/built/runner.js
405:19-41 Critical dependency: the request of a dependency is an expression

WARNING in ./node_modules/pro

[2018-10-16 21:08] Havunen opened #154 "Gzip test assets"
Hi

I was recently investigating iOS disconnect issue and found out that karma test files are not gzipped by default.

Then I started looking for solution and found this plugin

https://github.com/GreenGremlin/karma-gzip

Using that improved iOS a lot,
Total test time went down from 1m 57s to 1m 28s and Bundle size went down from 4MB -> 657kb

 why this plugin does not do that out of box?

[2018-10-16 22:18] johnjbarton commented on #154
Because you did not send your PR yet?

[2018-10-17 05:56] Havunen commented on #154
I was more like wondering should we include this functionality into `karma-sauce-launcher` or is it out of scope of this plugin

[2018-10-17 14:52] johnjbarton commented on #154
Did you try https://www.npmjs.com/package/karma-gzip?

[2018-10-17 15:31] Havunen commented on #154
yes, that was the point of this issue. I think developers are not aware of this fact that when you use sauce-launcher you need to manually gzip the test assets.

[2018-10-22 22:49] jdmarshall commented on #154
I think Havunen asks a pretty good question.

It looks like this should be as simple as adding this around line 67 of lib/web-server.js:

handler.use(compression());

There's a way to funnel this through the beforeMiddleware config but is there a good reason not to include the compression middleware by default?

[2018-11-08 18:45] julmot opened #155 "Update Options"
- `deviceName` (mobile) is mentioned in an example, but not in the options documentation
- `platformVersion` (mobile) is included in the Sauce Labs Platform Configurator but in the documentation is only `platform`
- `platformName` (mobile) is included in the Sauce Labs Platform Configurator but in the documentation is only `platform`
- `appiumVersion` (mobile) is included in the Sauce Labs Platfor

[2018-11-08 18:54] johnjbarton commented on #155
Please see:
http://karma-runner.github.io/3.0/dev/contributing.html

[2018-11-15 14:00] yakovyashfe commented on #72
same here

[2018-11-15 14:01] yakovyashfe commented on #72
same problem here

[2018-11-16 05:44] coding365days commented on #72
I wanted to involve EventEmitter in my angular 6 program and by mistakenly i imported it from protractor instead of @angular/core. So please check if you have done any such mistake.

[2018-12-06 18:44] GreenGremlin commented on #154
The karma devs actually removed gzip support some time ago. They have also, more recently, [pushed back on adding support](https://github.com/karma-runner/karma/issues/1241). I was recently able to get them to accept [a PR](https://github.com/karma-runner/karma/pull/3123) that will allow me to simplify the karma-gzip considerably in a future update.

[2018-12-06 23:44] GreenGremlin commented on #154
This discussion prompted me to update karma-gzip for karma v3.1. I've also renamed the package to karma-gzip-preprocessor, which should make even easier to use.

[2018-12-24 10:28] mjeanroy opened #159 "Problem with karma-sauce-launcher >= 2.0.0"
Hi,

After upgrading karma-sauce-launcher to version 2.0.0, I have some problems when running my test suite on travis: the test suite runs against first configured browser, everything is ok then nothing happens and my build fails because of "no output detected" by travis.

You can see the build output [here](https://travis-ci.org/mjeanroy/jasmine-ws/builds/467241217?utm_source=github_status&utm_me

[2018-12-24 21:00] ZeeCoder commented on #159
Same thing here, just downgraded to v1, and that runs fine, while v2 just hangs if the number of browsers I'm running my tests against is greater than the concurrency value.

So if I have 5 browsers to test, and concurrency is set to 2, then the first two browsers run fine, but the rest never starts.

[2018-12-27 08:30] Havunen commented on #159
Hey

We have same in issue in InfernoJS repository.
karma sauce configs:
https://github.com/infernojs/inferno/tree/master/fixtures/browser

Travis logs:
https://travis-ci.org/infernojs/inferno/jobs/472385183

[2019-01-08 11:00] edoardocavazza commented on #159
It seems that the launcher `_done` callback needs to be triggered here, before the `doneFn`: https://github.com/karma-runner/karma-sauce-launcher/blob/master/src/launcher/launcher.ts#L100

I am going to prepare a PR for this.

[2019-01-11 18:31] jdmarshall commented on #159
I believe this is a problem with Selenium, which is why I switched to karma-sauce-launcher from another launcher in the first place - because it wasn't using Selenium.

[2019-01-13 12:38] valotas commented on #159
I have the [same problem](https://travis-ci.org/valotas/preact-context/builds/478761897)

[2019-01-21 20:42] Havunen commented on #159
Is there any fix available ? Saucelabs is unusable like this. :/

[2019-01-21 20:44] ZeeCoder commented on #159
I just rolled back to the previous version, work fine 🤷‍♂️

[2019-02-03 18:45] PakinamElBanna commented on #72
@coding365days  You saved my life!

[2019-02-20 16:37] Havunen commented on #159
@vikerman Can you please look into this issue?

[2019-04-12 23:24] ccothran92 opened #162 "No control over seleniumHostUrl"
I use shared Tunnels, and I am unable to make use of this because:

My shared tunnels are accessible on: 'https://username:access_key@ondemand.saucelabs.com:443/wd/hub'

The **seleniumHostUrl** is derived by:

`seleniumHostUrl = ${config.connectLocationForSERelay}:${config.connectPortForSERelay || 80}
`

Meaning, in order to get it to work I have to do:
[code]
But then, all requests are made to th

[2019-04-18 13:07] hadnazzar commented on #117
Removing node_modules and installing solved my problem.

It error happens because of the `wd`.

[code]

[code]

[2019-04-25 02:57] dntzhang commented on #117
good!

[2019-06-14 23:59] jlmakes commented on #136
This happens _so often!_

![why](https://user-images.githubusercontent.com/2044842/59544311-a3d72c00-8ec5-11e9-9560-8163ee41fd40.gif)

[2019-07-31 17:09] Renanmacedo commented on #72
@yakovyashfe  this was the same mistake I had. Check your import, probably some import is wrong or cannot be imported.
`import { element } from 'protractor'`
"Module parse failed: Unexpected character '#' (1:0)
You may need an appropriate loader to handle this file type.

| "use strict";
| Object.defineProperty(exports, "__esModule", { value: true });"
Above, it's my error in console.

[2019-07-31 17:15] Renanmacedo commented on #72
@vernak2539  close this issue, please.

[2019-08-07 20:05] codeclown commented on #162
Yes, I have bumped into this while trying to use the EU-location of Sauce Labs.

(For indexing purposes, here's the error I was bumping at: `WebDriverError: Misconfigured -- Sauce Labs Authentication Error. You used username '[redacted]' and access key 'XXXXXXXX-XXXX-XXXX-XXXX-[redacted]' to authenticate, which are not valid Sauce Labs credentials.`)

For reference, here's how I can get the EU end

[2019-10-19 19:58] Toxicable opened #165 "security vulnerablity 1184 - update saucelabs and sauce-connect-launcher"
[code]
`sourcelabs` has removed this dep since v2

[2019-10-19 20:06] Toxicable opened #166 "security vulnerablity 1184 - update sauce-connect-launcher when patch avilable"
There isn't currently a patch avilable, issue opened here: https://github.com/bermi/sauce-connect-launcher/issues/151
[code]

[2019-10-22 03:33] jdmarshall commented on #166
While I wouldn't want to be feeding production credentials to my Sauce clients, that doesn't mean people aren't doing exactly that (smoke tests, for one).

[2019-10-22 09:21] apepper commented on #166
Fixed in version `1.3.1` of `sauce-connect-launcher`  in https://github.com/bermi/sauce-connect-launcher/pull/152.

[2019-10-22 09:22] apepper commented on #165
Please upgrade `saucelabs` to at least version 2 in order to make `karma-sauce-launcher` `npm audit` compliant.

[2019-10-22 09:25] apepper commented on #165
There is list of breaking changes in the public api of `saucelabs` under https://github.com/saucelabs/node-saucelabs#breaking-changes-from-v1-to-v2 . This does not look like a trivial task.

[2019-11-22 16:58] philp opened #167 "Broken HTML link in README.md"
The link to https://github.com/saucelabs/karma-sauce-example returns a 404 response.

[2020-01-28 09:09] jakub-g opened #168 "Can't connect to Saucelabs, environment not available. Should the launcher allow to retry, with exponential backoff?"
In the last weeks I've been getting, more often than acceptable, an error when requesting a browser from SauceLabs. The error looks like this (I formatted so it's more readable without scrolling)

[code]

This fails the CI and the only solution is to restart the Jenkins job, which is obviously not great.

I'm wondering if the launcher should specify a `retry` parameter which would try to connect t

[2020-02-26 19:51] rcebulko commented on #77
In https://github.com/ampproject we use an [Invite Bot](https://github.com/ampproject/amp-github-apps/tree/master/invite) to allow contributors to send invites to the org. Perhaps it could be adapted to be useful to this org/repo

[2020-02-26 19:52] rcebulko opened #176 "Enable semantic-release on karma-sauce-launcher repository"
/cc @johnjbarton @rsimha @wswebcreation @joshmgrant

[2020-02-27 15:36] rcebulko opened #180 "Drop support for Node 8"

[2020-03-05 00:43] gushiguera-rezi commented on #145
I am seeing this issue with the latest version still (v2.0.2), was it resolve. Removing the configuration options doesn't seem to work.

[2020-03-09 18:05] #176 closed

[2020-03-17 18:12] limonte opened #190 "v4.0.0 is broken, Cannot find plugin "karma-sauce-launcher""
I guess something went wrong with v4.0.0

![image](https://user-images.githubusercontent.com/6059356/76887878-98b59000-688b-11ea-9d12-7678cb850cf7.png)

https://github.com/sweetalert2/sweetalert2/pull/1921/checks?check_run_id=514536203

[2020-03-17 21:36] limonte commented on #190
Yes, it is broken, there are no js files in v4.0.0. Well done publishing a new major without testing it out :)

[2020-03-18 20:03] gushiguera-rezi commented on #190
same issue here

[2020-03-19 08:26] limonte commented on #190
ping @rcebulko this is the critical issue, PTAL

[2020-03-19 14:53] rcebulko commented on #190
Indeed, this is a known issue with the release (in the process of configuring semantic release). I think @rsimha knows more

[2020-03-30 07:02] limonte commented on #190
@rcebulko the package is broken for more than 10 days. I can help with the PR, would you be interested in reviewing it?

[2020-03-30 15:41] rcebulko commented on #190
@limonte Certainly

[2020-03-30 15:48] rcebulko commented on #190
@vikerman I see `index.js` was removed in https://github.com/karma-runner/karma-sauce-launcher/pull/156 . This seems to be part of what's breaking the release. Why was it removed, and do you know how to resolve these issues?

[2020-03-30 16:00] limonte commented on #190
Actually, I can't help here. The releasing process is broken completely, the fix isn't simple.

Even the version in `package.json` is out of sync https://github.com/limonte/karma-sauce-launcher/blob/master/package.json#L3

[2020-03-30 16:02] rcebulko commented on #190
Semantic-release uses tags to set the version, and completely ignores `package.json`. They explicitly disallow "manually" setting the release, since that breaks the semantic part of it. I think I may need to roll back semantic release entirely for now.

[2020-03-30 18:04] rcebulko commented on #190
Part of the issue here is that `HEAD` is about a year ahead of the previous release. If we just unpublish the latest version from npm, whenever another commit is merged another release will just be triggered and re-deploy the broken version. If @johnjbarton can unpublish the NPM package, I can add a commit disabling semantic-release for the time being, so we can work on the underlying issue, being

[2020-03-30 18:08] limonte commented on #190
Nope, nobody can. https://www.npmjs.com/policies/unpublish

[2020-03-30 18:12] rcebulko commented on #190
I think https://github.com/karma-runner/karma-sauce-launcher/issues/190 may address the main problem. When migrating to Typescript, a build step was added to compile to JS. While this was usually done manually, it needs to be done explicitly to populate `dist/`, and the `main` entrypoint in `package.json` had to be updated.

[2020-03-30 18:34] rcebulko commented on #190
It appears NPM ignores files in `.gitignore` (aka the entire `dist/` directory), unless a separate `.npmignore` file is present. I'm testing this now.

[2020-03-30 18:42] limonte commented on #190
Should be handled by #194

[2020-03-30 18:47] #190 closed

[2020-03-30 18:50] gushiguera-rezi commented on #190
👏

[2020-03-30 18:53] limonte commented on #190
Nope, still broken :)

![image](https://user-images.githubusercontent.com/6059356/77950198-d45f4980-72d0-11ea-8cc4-74b48f8d4147.png)

[2020-03-30 19:01] rcebulko commented on #190
Oddly, `npm pack` appears to package up `dist/` as desired, and `npm publish --dry-run` does the same

[2020-03-30 19:04] limonte commented on #190
#196 should handle that :+1: You can test it out with `npm publish --dry-run`

[2020-03-30 19:46] rcebulko commented on #190
Looks like that may have done it! Nice :tada:

[2020-03-30 19:59] limonte commented on #190
Yup, works now :tada:

[2020-03-30 20:32] rcebulko opened #198 "Error in heartbeat function"
When using the launcher, we encounter an error in the heartbeat function

[code]

Relevant snippet:
[code]

I'm not sure how `driver` could get set; I'm not familiar with setTimeout providing any arguments to its callback. Should this be trying to read from `connectedDrivers` or something similar?

/cc @joshmgrant

[2020-03-30 20:46] joshmgrant commented on #198
@rcebulko Hmm, interesting issue. Do you have a CI build or Sauce job link along with this?

[2020-03-30 21:08] rsimha commented on #190
Yay! Nice work, @rcebulko and @limonte 😃

[2020-03-30 21:10] rcebulko commented on #198
https://travis-ci.org/github/ampproject/amphtml/jobs/668922609?utm_medium=notification&utm_source=github_status
LMK if you can't access that log

[2020-04-01 10:49] triadiprabowo commented on #198
I am experiencing same problem in version 4.1.2

[2020-04-07 21:54] tdalbo92 commented on #198
Took me awhile to dig down into this, but it's affecting us as well.  I've got it reproducing locally on my system, and I'd be happy to debug if possible.

I almost wonder if selenium-webdriver changed their public API, this should be using getTitle() instead of .title()

[2020-04-07 22:06] rcebulko commented on #198
A lot of this code hasn't been updated in a couple years, it wouldn't surprise me if some of the package dependencies that were updated in those years between releases might have included API changes

[2020-04-13 15:00] joshmgrant commented on #198
It looks like @tdalbo92 is correct! The WebdriverJS API has changed `driver.title()` to `driver.getTitle()`. I'll submit a PR soon which includes the null check and this updated call to get the page title.

[2020-04-13 16:14] rcebulko commented on #198
Thanks for debugging this @tdalbo92 anf @joshmgrant for the fix! Created https://github.com/karma-runner/karma-sauce-launcher/pull/202 from Josh's PR so tests can run. If all is green, I'll merge and hopefully that fixes it

[2020-04-13 16:54] rcebulko commented on #198
Seeing a new error: `Heartbeat to ${browserName} failed: driver is null\n%s`. This looks like it's happening here: https://github.com/karma-runner/karma-sauce-launcher/blob/master/src/launcher/launcher.ts#L50

@joshmgrant Where is `driver` supposed to come from here? Why is `setTimeout` providing it as an argument?

[2020-04-17 16:07] rcebulko commented on #198
@joshmgrant I think we should probably roll back https://github.com/karma-runner/karma-sauce-launcher/commit/74eea9247f0333ba0fc352c6fe22a0f820d07831 until it's fully working, `master` has been borked for a while now :disappointed:

[2020-04-17 21:06] tdalbo92 commented on #198
This is definitely causing chaos for our longer running test in CI.  I did a bit more debugging, and some really weird concurrency issues are happening when it hiccups - both before and after #203 .  Existing tests want to keep running even after the exception is thrown, but the runner has already started to kill the browser and try again.

By the time it starts the new tests, the old ones finish

[2020-04-20 19:36] joshmgrant commented on #198
@rcebulko that sounds reasonable to roll back. I'm going to look into this though, try to get some tests working in this project and see where to go from there.

[2020-05-08 15:22] jasonccox commented on #159
I'm also running into this issue, although I wanted to mention a possible workaround. If you set `concurrency` to your desired level, set `browsers` to an empty array, but still set `customLaunchers` to your list of browsers, then you can use the `--browsers` flag to launch karma with the browsers you want. This enables you to run a script that does multiple karma runs. For example, with this conf

[2020-05-13 18:36] rcebulko commented on #198
@joshmgrant Have you had any luck with a fix for the heartbeat approach?

[2020-05-13 18:37] joshmgrant commented on #198
@rcebulko not yet but I'm going to see if I can get something together in the next few days

[2020-06-16 16:51] jhildenbiddle opened #209 "DeprecationWarning: Got: "options.rejectUnauthorized" is now deprecated"
Note the last line in the following console output:

[code]

* macOS 10.15.5
* node v12.15.0
* karma v5.1.0
* karma-sauce-launcher v4.1.5
* mocha v4.1.0 (req'd for IE9 tests)
* chai v4.2.0

The test completed successfully, but I thought it was worth calling attention to the deprecation warning.

[2020-06-16 17:46] jhildenbiddle opened #210 "Unable to connect to older browsers on SauceLabs"
This is happening with multiple repos, all of which previously worked without issue.

* macOS 10.15.5
* node v12.15.0
* karma v5.1.0
* karma-sauce-launcher v4.1.5
* mocha v4.1.0 (req'd for IE9 tests)
* chai v4.2.0

Connections are made as expected when later versions of Chrome, Edge, Firefox, IE, and Safari are used (although with a deprecation warning as mentioned in #209). Easier versions of eve

[2020-07-06 01:35] longlho commented on #210
I got the same issue, last working version was `4.1.3`

[2020-07-08 19:18] lykaiowang commented on #76
[code]

I had problems with version 4.1.5 using the above configuration. I keep on getting the following error:

[code]

but after downgrading to version 4.1.3 the same configuration worked.

[2020-07-31 18:56] nhorvath opened #214 "timeZone capability does not work with latest version"
timeZone works in 1.2.0 but not with the latest version. SL rejects it as an unknown capability.

related to: Sauce Labs Ticket 88128

[2020-08-03 09:51] xavierfoucrier opened #215 "Use with Github Actions gives unexpected behavior"
Hi karma team!

We are actually **moving our CI workflow from Travis to Github Actions** on an open source project. Since we have switched to Github Actions, see https://github.com/mojs/mojs/commit/ec04b4c82f3c34adb1f4b7e9cc4b3d3d85f4ef82, the `karma-sauce-launcher` are unable to establish a connection and we got [an exception in the workflow](https://github.com/mojs/mojs/runs/939892600?check_suit

[2020-08-31 10:23] xavierfoucrier commented on #215
@vojtajina @zzo @dignifiedquire @rcebulko any update/help about this issue?

Thanks a lot :wink:

[2020-08-31 16:29] rcebulko commented on #215
Hi @xavierfoucrier . Unfortunately I'm no longer active on this repo, as the project I primary work on has shifted to a different toolchain. Hopefully one of the others listed above can be of more assistance.

[2020-08-31 17:15] johnjbarton commented on #215
Sorry I don't know anything about Github actions.  Is there some config we need to change on the karma-sauce-launcher github project admin?

[2020-08-31 20:01] xavierfoucrier commented on #215
@rcebulko no problem, thanks for the feedback.
@johnjbarton really, I don't know. It's probably related to configuration, because it works well on Travis. If anyone have some idea from where it comes, I will just close the issue and try another browser testing platform like browserstack... it's under consideration.

[2020-09-16 15:27] drzraf opened #217 "undefined SaucelabsReporter adapters causes single-run=false to fail"
This is probably a follow-up of #87

With `start --single-run=false`, I'm getting:
[code]

More specifically, within `multi.js`, during the loop, once it encounter the `SaucelabsReporter` and attempt to add an Adapter to the existing ones. But apparently, contrary to other reporters, this `SaucelabsReporter` contains no existing adapters (undefined) what provoke a failure when  `start --single-run

[2020-09-23 06:36] olehmachmm commented on #210
For Version 4.1.5 this change was made:
https://github.com/karma-runner/karma-sauce-launcher/commit/7e75e171d695e07af2c4c2e207a5dc579abcfb4e?branch=7e75e171d695e07af2c4c2e207a5dc579abcfb4e&diff=split

It seems to me, that sauce:options is always passed to sauce labs with this change.
According to sauce labs however, when sauce:options is passed, it always assumes that the new protocol W3C is used.

[2020-10-01 13:30] web-padawan commented on #210
Major dependency bump in a patch release is not that the users expect.

@rcebulko please consider reverting #207 on master and releasing `4.1.6`.
Then there should be `5.0.0` major release including `saucelabs` bump.

[2020-10-12 17:56] web-padawan opened #220 "Breaking change for iPhone Simulators caused by node-saucelabs version bump"
Hi, I have an issue related to the Sauce Labs update submitted at #206, landed in #207 and included to `4.1.5` release.

In my config I have the following [launchers](https://github.com/vaadin/component-mixins/blob/f23515a6c96cfd106e54ef3eba2fc56f352a9346/karma.conf.js#L5-L16):

[code]

With `4.1.4` these worked fine. And when I upgrade to `4.1.5` Safari still works, but iPhone Simulator fails wit

[2020-10-12 18:20] christian-bromann commented on #220
@web-padawan I recommend to use W3C valid capabilities. The error message suggests that your capabilities are invalid.

[2020-10-12 18:33] web-padawan commented on #220
Thanks. I would appreciate an example of valid W3C capabilities for iPhone Simulators on SauceLabs.

So far I have tried the following combinations:

### 1. `platformName` and `platformVersion`

[code]

Result:
[code]

### 2. `platformName: 'iOS'`

[code]

Result:

[code]

BTW, the docs here don't mention iOS Simulators: https://wiki.saucelabs.com/display/DOCS/W3C+Capabilities+Support

[2020-10-12 19:20] wswebcreation commented on #220
@web-padawan

Try this

[code]

This is also according to the platform configurator. W3C caps are not yet fully implemented for Sauce Emulators/Simulators

[2020-10-12 19:29] web-padawan commented on #220
Thanks, I have tried and got the same error:

[code]

One thing which confuses me is `Device: 'unspecified'` part even though `deviceName` is defined.

[2020-10-12 19:34] christian-bromann commented on #220
@web-padawan can you provide a minimal reproducible example? I don't get any issues running these capabilities.

[2020-10-12 20:18] web-padawan commented on #220
Here is the example: https://github.com/vaadin/component-mixins/compare/karma-sauce-issue

Failing build for this config: https://travis-ci.org/github/vaadin/component-mixins/builds/735138095

[2020-10-13 07:00] christian-bromann commented on #220
@web-padawan we have reported the issue to the internal teams at Sauce. In the meantime stay on `v4.1.4`. I will keep you posted.

[2020-10-13 07:44] web-padawan commented on #220
Thank you for prompt feedback! 🙇
This issue is also relevant for `@web/test-runner-saucelabs` which also uses W3C API: https://github.com/modernweb-dev/web/issues/472#issuecomment-701981102

[2020-10-13 14:44] xavierfoucrier commented on #215
We have moved to Browserstack instead.
Closing the issue :wink:

[2020-10-13 14:44] #215 closed

[2020-10-20 11:56] christian-bromann commented on #210
@web-padawan I don't see major dependency bumps problematic as long as they don't change the behavior of the software. In this case it actually did for people that still test on old browser that don't support the WebDriver protocol. I see two options:

1. apply the `sauce:option` capability only if provided capabilities suggest new browser
2. revert all changes up until `v4.1.4`, make a new patch

[2020-10-20 19:18] web-padawan commented on #210
Thank you for your feedback!

Sounds goos to me in case if this would help to fix the errors with older browsers 👍

[2020-10-26 15:57] zyv commented on #210
This sounds like a great solution to me!

[2020-10-28 09:33] pchorus commented on #210
@christian-bromann Sounds great!

[2020-10-29 16:11] #217 closed

[2020-10-29 18:05] #210 closed

[2020-10-29 18:07] wswebcreation commented on #210
New release that fixes this will come asap

[2020-10-29 19:14] wswebcreation commented on #220
@web-padawan

This will be fixed with when Travis is able to release this PR https://github.com/karma-runner/karma-sauce-launcher/pull/225

[2020-10-29 19:15] wswebcreation commented on #214
@nhorvath

This should be fixed when this PR gets released https://github.com/karma-runner/karma-sauce-launcher/pull/225

[2020-10-29 19:16] wswebcreation commented on #209
Closing this because it should have been fixed, feel free to reopen when you see this again

[2020-10-29 19:16] #209 closed

[2020-10-29 19:17] wswebcreation commented on #198
Re-implemented the heartbeat and released it in version https://github.com/karma-runner/karma-sauce-launcher/releases/tag/v4.2.0, closing this for now

[2020-10-29 19:17] #198 closed

[2020-10-29 19:19] wswebcreation commented on #168
Closing this one due to inactivity. A lot of new versions have been released in the meantime. IF this error is still there then please reopen this ticket

[2020-10-29 19:19] #168 closed

[2020-10-29 19:20] wswebcreation commented on #166
Closing this one for now, we are now using a new module for using Sauce Connect

[2020-10-29 19:20] #166 closed

[2020-10-29 19:21] wswebcreation commented on #165
Already executed the migration to node-saucelabs

[2020-10-29 19:21] #165 closed

[2020-10-29 19:23] wswebcreation commented on #162
Closing this due to inactivity, feel free to reopen if you experience this with the latest version

[2020-10-29 19:23] #162 closed

[2020-10-29 19:25] wswebcreation commented on #155
Closing this due to inactivity, feel free to submit a PR to get it more in line

[2020-10-29 19:25] #155 closed

[2020-10-29 19:31] wswebcreation commented on #154
Closing this due to inactivity, feel free to re-open if this is still an issue

[2020-10-29 19:31] #154 closed

[2020-10-29 19:32] wswebcreation commented on #136
Closing this due to inactivity, feel free to re-open if this is still an issue

[2020-10-29 19:32] #136 closed

[2020-10-29 19:33] wswebcreation commented on #117
Closing this due to inactivity, feel free to re-open if this is still an issue.

[2020-10-29 19:33] #117 closed

[2020-10-29 19:34] wswebcreation commented on #37
Closing this due to inactivity, feel free to re-open if this is still an issue.

[2020-10-29 19:34] #37 closed

[2020-10-29 19:34] wswebcreation commented on #41
Closing this due to inactivity, feel free to re-open if this is still an issue.

[2020-10-29 19:34] #41 closed

[2020-10-29 19:35] wswebcreation commented on #42
Closing this due to inactivity, feel free to re-open if this is still an issue. Heartbeat has been re-implemented in https://github.com/karma-runner/karma-sauce-launcher/releases/tag/v4.2.0

[2020-10-29 19:35] #42 closed

[2020-10-29 19:35] wswebcreation commented on #44
Closing this due to inactivity, feel free to re-open if this is still an issue.

[2020-10-29 19:35] #44 closed

[2020-10-29 19:36] wswebcreation commented on #55
Closing this due to inactivity, feel free to re-open if this is still an issue.

[2020-10-29 19:36] #55 closed

[2020-10-29 19:36] wswebcreation commented on #59
Closing this due to inactivity, feel free to re-open if this is still an issue.

[2020-10-29 19:36] #59 closed

[2020-10-29 19:36] wswebcreation commented on #61
Closing this due to inactivity, feel free to re-open if this is still an issue.

[2020-10-29 19:36] #61 closed

[2020-10-29 19:37] wswebcreation commented on #77
Closing this due to inactivity.

[2020-10-29 19:37] #77 closed

[2020-10-29 19:37] wswebcreation commented on #70
Closing this due to inactivity, feel free to re-open if this is still an issue.

[2020-10-29 19:37] #70 closed

[2020-10-29 19:38] wswebcreation commented on #91
Closing this due to inactivity, feel free to re-open if this is still an issue.

[2020-10-29 19:38] #91 closed

[2020-10-29 19:41] wswebcreation commented on #64
Closing this due to inactivity, feel free to re-open if this is still an issue.

[2020-10-29 19:41] #64 closed

[2020-10-29 19:41] wswebcreation commented on #71
Closing this due to inactivity, feel free to re-open if this is still an issue.

[2020-10-29 19:41] #71 closed

[2020-10-29 19:42] #72 closed

[2020-10-29 19:42] wswebcreation commented on #73
Closing this due to inactivity, feel free to re-open if this is still an issue.

[2020-10-29 19:42] #73 closed

[2020-10-29 19:42] wswebcreation commented on #75
Closing this due to inactivity, feel free to re-open if this is still an issue.

[2020-10-29 19:42] #75 closed

[2020-10-29 19:44] wswebcreation commented on #76
This should work now since version https://github.com/karma-runner/karma-sauce-launcher/releases/tag/v4.3.1. Will close this for now, feel free to open it if the issue is still there

[2020-10-29 19:44] #76 closed

[2020-10-29 19:44] wswebcreation commented on #80
Closing this due to inactivity. Feel free to open it again if the issue is still there

[2020-10-29 19:44] #80 closed

[2020-10-29 19:44] wswebcreation commented on #85
Closing this due to inactivity. Feel free to open it again if the issue is still there

[2020-10-29 19:44] #85 closed

[2020-10-29 19:45] wswebcreation commented on #88
Closing this due to inactivity. Feel free to open it again if the issue is still there

[2020-10-29 19:45] #88 closed

[2020-10-29 19:45] wswebcreation commented on #93
Should be solved in newer versions

[2020-10-29 19:45] #93 closed

[2020-10-29 19:45] wswebcreation commented on #94
Closing this due to inactivity.

[2020-10-29 19:45] #94 closed

[2020-10-29 19:46] wswebcreation commented on #96
Closing this due to inactivity. Feel free to open it again if the issue is still there

[2020-10-29 19:46] #96 closed

[2020-10-30 05:45] wswebcreation commented on #100
Closing this due to inactivity. Feel free to open it again if the issue is still there

[2020-10-30 05:45] #100 closed

[2020-10-30 06:01] wswebcreation commented on #95
Closing this due to inactivity, please try the newest version of this module and feel free to open a new issue if you still experience this issue

[2020-10-30 06:01] #95 closed

[2020-10-30 06:03] wswebcreation commented on #152
I'm not able to do that, @johnjbarton is there a way that you could implement this? I thought @rcebulko also looked at it in the past but not 100% sure what the outcome was

[2020-10-30 06:13] wswebcreation commented on #113
I will remove this from the docs because Sauce Labs doesn't have this example anymore

[2020-10-30 06:13] #113 closed

[2020-10-30 06:16] wswebcreation commented on #167
I'll remove this from the docs because the repo doesn't exists anymore

[2020-10-30 06:16] #167 closed

[2020-10-30 06:21] wswebcreation commented on #133
Closing this because the docs have been updated

[2020-10-30 06:21] #133 closed

[2020-10-30 06:22] wswebcreation commented on #180
Closing this one because it was fixed in https://github.com/karma-runner/karma-sauce-launcher/pull/177

[2020-10-30 06:22] #180 closed

[2020-10-30 06:41] wswebcreation commented on #214
@nhorvath

This should be fixed now. Closing it but feel free to open a new issue if needed

[2020-10-30 06:41] #214 closed

[2020-10-30 06:42] #159 closed

[2020-10-30 07:17] #220 closed

[2020-10-30 08:46] web-padawan commented on #220
Thank you, I tested and it works, my tests with iPhone Simulator are passing now 🙇‍♂️

[2020-11-01 20:14] jhildenbiddle commented on #210
Great to see this fixed. Thank you!

[2020-11-05 18:59] jarrodek opened #230 "Error is thrown when trying to run the connector"
I started seeing some weird errors. The following is (truncated) exec logs.

[code]
I am not sure where exactly the problem is. I was trying to change the configuration to bare minimum, then i tried to copy the configuration from the readme file but still no luck. Regular karma tests are executed locally and on Travis. The errors start only when trying to run SL tests.
I am hoping for a help with

[2020-11-05 19:30] wswebcreation commented on #230
Hi @jarrodek

It looks like the driver is closed somewhere, based on this part of the log `UncaughtException:: Cannot read property 'results' of undefined`
Can you provide a reproducible example so we can debug this?

[2020-11-05 19:38] jarrodek commented on #230
@TwoPlusTwoOne could you please reproduce this in a separate repo? Please, create a new repo in our org with this issue.

[2020-11-09 06:21] jdmarshall commented on #154
@GreenGremlin

They're pushing back on precomputed gzip assets.  I don't see how adding the compression library adds some sort of undo complexity to the codebase.

[2020-11-14 23:36] simllll commented on #230
Stumpled upon the same thing, I just took https://github.com/axios/axios and upgraded all deps to:
[code]

if you run npm run test afterwards, you will get the same error.

[2020-11-15 09:48] wswebcreation commented on #230
Thanks @simllll

Will take a look at it tomorrow and let you know

[2020-11-15 14:35] wswebcreation commented on #230
@simllll

I cloned the project, updated the dependencies as mentioned and adjust the `webpack.config.js` and got the following as seen below.
I only got some dependency errors, but for the rest it worked. What are you seeing then?

[code]

[2020-11-15 16:12] simllll commented on #230
Strange, what I did besides the package.json was removing uglify from webpack config and and rmeove the comment /*global toString:true*/ from utils.js. I guess you did probabaly the same, what system are you running on?
Mine:
node v15.2.0
Ubuntu 20.04.1 LTS
Google Chrome 85.0.4183.121
Mozilla Firefox 82.0.3

Maybe it's related with node 15? I will check now

[2020-11-20 10:25] simllll commented on #230
Anything I can do to help tracking this down? I believe it has something todo with my environment...

[2020-11-22 07:29] wswebcreation commented on #230
Hi @simllll

Sorry for my late response, busy week.

I've been running this from my mac, here are some logs

**Node.js 14**
[code]

**Node.js 15:**
[code]

Can you share a reproducible example?

[2020-11-29 20:21] mjeanroy opened #232 "Error when mixing browser launched on SauceLabs and others"
Hi,

When I try to run my test suite with browsers launched through saucelabs launcher and another one (say ChromeHeadless available locally), the test suite fails with the following stacktrace:

[code]

You can see it [here](https://github.com/mjeanroy/jasmine-dom-spec/runs/1470693060?check_suite_focus=true).

I'm using karma-sauce-launcher@4.3.3 and karma@5.2.3

[2020-11-30 06:15] #232 closed

[2020-11-30 06:57] wswebcreation commented on #230
@jarrodek

A fix has been released, can you please check if it works for you?

[2020-12-30 01:38] Krinkle opened #236 "Uncaught TypeError: Cannot read property 'deleteSession' of null"
Environment:
* GitHub Actions, ubuntu-20.04
* Node.js 14.15.1 (latest LTS, also affects Node.js 12 and Node.js 10)
* karma-sauce-launcher@4.3.4 (latest, also affects 4.3.3 and 4.3.2)
* karma@5.2.3 (latest)

Example at <https://github.com/Krinkle/kiwix-js/runs/1620210786?check_suite_focus=true>

[code]

It works fine from my machine with Node.js 10.15.2 on Debian 9 Stretch (via Docker for Mac), and

[2020-12-30 03:33] Krinkle commented on #236
Nevermind. I eventually figured out that the issue was that the connection wasn't being estalished in the first place because the `SAUCE_ACCESS_KEY` was missing. I mistakenly assumed that GitHub Actions would work similarly to Travis CI and allow forked repositories to provide their own secrets. But, despite GitHub happily allowing you to configure secrets in a forked repo, these are completely ig

[2021-01-07 10:07] sakshi052 commented on #236
I want to work on this issue as I am new so please guide me through.

[2021-01-07 21:57] johnjbarton commented on #152
The two existing PRs fail because of a nodejs version conflict:
[code]

[2021-01-21 23:54] Trott opened #238 "Internet Explorer times out with Karma 6.x"
Sauce Labs Internet Explorer times out with Karma 6.x and this plugin, but works fine in Karma 5.x.

Pull request updating my project from Karma 5.x to Karma 6.x: https://github.com/Trott/slug/pull/166

Relevant Karma config file: https://github.com/Trott/slug/blob/3c12c19b981e4320513e7a3c64367401b57a862b/.karma.config-ci.js

[code]

CI failture: https://github.com/Trott/slug/runs/1745550920?check

[2021-01-22 04:20] longlho commented on #238
might be bc of this https://github.com/karma-runner/karma/pull/3629

[2021-01-22 04:20] longlho opened #239 "Error for Safari & Chrome 38 on karma 6.x"
All tests passed but the build error out and IDK why.

Build: https://app.saucelabs.com/tests/f000b44a703c465e9be79a2ec7ab326c

[2021-01-22 06:57] wswebcreation commented on #239
Hi @longlho

Can you provide some more information, where did it fail?

[2021-01-22 14:38] longlho commented on #239
I believe it failed at the end after all tests are run.

selenium-server.log shows

[code]

Specifically
[code]

although I'm not sure what this was referred to

[2021-01-22 14:41] longlho commented on #239
This is the build link for Chrome 38 which is also failing: https://app.saucelabs.com/tests/e9aafdaf2e794cf9887562e4a235826a

Logs don't seem to show any error yet Custom Data indicates there's an error:

[code]

[2021-01-22 15:37] wswebcreation commented on #239
Thanks @longlho

What about your own server logs? And secondly, is there a reason for testing on Chrome 38? That one is really old

[2021-01-22 15:41] longlho commented on #239
Yes we maintain polyfills so we do need to test on really old browsers. Can you clarify my own server logs? From my build log all I saw (regarding err) was:

[code]

But I'm pretty sure my tests do not reload the page...

[2021-01-22 22:48] Trott commented on #238
Yes, I applied that patch and it fixed this issue. 👍

[2021-01-23 06:14] wswebcreation commented on #238
Cool, going to close this issue because it's not related to this module

[2021-01-23 06:14] #238 closed

[2021-01-23 07:36] wswebcreation commented on #239
Hi @longlho

Hmm, I don't know where the page reload is coming from, but that is the one that is causing the test to be set too failed. Can you share the link of Sauce Labs of that session?

[2021-01-23 15:40] longlho commented on #239
Yup i posted it above

[2021-01-23 16:06] wswebcreation commented on #239
Ok, problem is that I can see it there so can't debug it

[2021-01-23 16:09] longlho commented on #239
hmm any rec on what I can do to help debug?

[2021-01-24 09:58] wswebcreation commented on #239
@longlho

I've released a new version that will add the old logs back to Sauce Labs, that one might give more insights where the reload is coming from, can you update to this version and see what happens, see https://github.com/karma-runner/karma-sauce-launcher/compare/v4.3.4...v4.3.5

thanks

[2021-01-24 21:42] longlho commented on #239
ok I tried 4.3.5. The build URLs are:
- Safari 12: https://app.saucelabs.com/tests/9025fae0a69048ce988e2fe17424e74f
- Chrome 38: https://app.saucelabs.com/tests/376f0bbacb4f4461a40731344bee9a00

[2021-01-28 10:34] wswebcreation commented on #239
Hi @longlho

I've been looking into this and it looks like it's something from Karma and or your testcode instead of an issue with the service. There is no webdriver command going to the browsers that would initiate this reload, so they only thing I can conclude is that there is a page reload in the test / karma is triggering this.
I've try to find some posts about `Some of your tests did a full p

[2021-02-02 10:42] vitalets opened #240 "Pass custom command line flags"
I'm trying to pass custom Chrome flags as well as for usual `karma-chrome-launcher`. But seems it's not working.
Example config:
[code]

Is it possible to pass custom cli arguments?

[2021-02-03 02:16] longlho commented on #239
@wswebcreation looks like https://github.com/karma-runner/karma/pull/3643 fixed this! Thanks for looking

[2021-02-03 02:16] #239 closed

[2021-02-03 06:51] wswebcreation commented on #239
Thanks for getting back on this @longlho

[2021-02-05 09:03] wswebcreation commented on #240
Hi @vitalets

I assume you mean chrome options here. If you so you need to provide them through a `'goog:chromeOptions'` object.

[2021-02-06 17:19] vitalets commented on #240
@wswebcreation thank you!

This works:
[code]
For other browsers key names will be `moz:firefoxOptions` and `ms:edgeOptions`.

[2021-02-06 17:19] #240 closed

[2021-02-06 17:32] wswebcreation commented on #240
You're welcome

[2021-03-09 18:41] christian-bromann opened #241 "No test names are being set, `undefined` instead"
It seems like with the latest version of Sauce Launcher all results are being transmitted as undefined, see https://app.saucelabs.com/tests/62eaaf74c9244092b878a6d71074992f

[2021-03-09 19:03] wswebcreation commented on #241
@christian-bromann ?
Is this with the current demo that is provided or is this with one of the last versions of Karma

[2021-03-09 19:06] christian-bromann commented on #241
Must be with one of the last versions. I discovered the error looking at MochaJS jobs and they have defined this package as `"karma-sauce-launcher": "^4.3.4",` in their package.json which I assume downloads the latest version.

[2021-03-09 19:40] wswebcreation commented on #241
I'll see if I can figure this one out in the coming days

[2021-04-08 14:48] Kamahl19 opened #242 "Update webdriverio to v7"
webdriverio v6 is failing with Puppeteer 8 due to it's own TS types. webdriverio v7 is using new puppeteer-core which does not bring old `@types/puppeteer`.

My TS build is failing due to doubled puppeteer types when using puppeteer v8

[2021-04-08 21:06] taymoork2 commented on #241
I created a patch for my setup --> https://github.com/webex/webex-js-sdk/pull/2032
I'm using karma v6 and mocha v8 so I'm unsure if the package version is the actual issue
[code]

[2021-04-08 21:59] christian-bromann commented on #241
@taymoork2 would you mind creating a PR?

[2021-04-08 22:19] taymoork2 commented on #241
@christian-bromann can do
FYI my patch also changes a `console.info` to a `console.debug` since it ends up spamming the console for me, unsure if you'd like me to add this change as well

[code]

[2021-04-09 06:11] #241 closed

[2021-04-15 19:28] ruchirrs commented on #240
Hi All for me the google chrome options work, however the firefox options do not seem to work. Can someone send me their sample log file? Below is what i used. I am basically trying to get video to autoplay when my script runs, however

Chrome options which works:
`      "goog:chromeOptions": {
        args: [
          '--autoplay-policy=no-user-gesture-required'
        ]
      },`
firefox optio

[2021-04-23 09:10] vitalets commented on #240
This code works for me for Firefox:
[code]

[2021-05-27 19:47] anglinb commented on #230
@wswebcreation I bumped the `karma-sauce-launcher` version to `4.3.6`,  [following your last comment](https://github.com/karma-runner/karma-sauce-launcher/issues/230#issuecomment-735591811). The tests are still failing but with a different error

- [Travis CI Logs](https://travis-ci.org/github/axios/axios/jobs/772552509)
- [Sauce Labs Test Results](https://app.saucelabs.com/tests/90f27026f00a4ae49

[2021-05-29 05:33] wswebcreation commented on #230
Hi @anglinb

Strange, it looks like the Sauce Connect Tunnel is killed before your tests are finished, can you enable the Sauce Connect logs are shown [here](https://github.com/karma-runner/karma-sauce-launcher/blob/master/examples/karma.conf-ci.js#L51) and share them?

[2021-05-29 05:37] anglinb commented on #230
I don't have write access to the repo so would have to open another PR but the cycle time between trying a change, opening a PR, merging to master is pretty gnarly 😅  I thought I could fix it by just bumping the version but that didn't work out. Maybe the maintainers might be up for it but ya unfortunately PRs don't run with Sauce creds until merged.

It was literally just bugging me all the build

[2021-07-31 14:52] kruncher opened #250 "failed serving request POST /wd/hub/session: Unauthorized"
Any ideas what might be causing this error to appear?

`SAUCE_USERNAME` and `SAUCE_ACCESS_KEY` are both defined as environment variables which can be accessed from `process.env`. We even added `SAUCE_DC` since we thought that might be the cause.

[2021-07-31 15:19] #250 closed

[2021-07-31 15:20] kruncher commented on #250
This problem seemed to go away when the `region` was set to `eu` but same problem seems to occur when the `region` is set to `us`.

[2021-08-29 06:13] trickeyone opened #253 "Unable to connect to Saucelabs"
I am unable to get the launcher to connect to Saucelabs anymore. It looks like it stopped working about 2-3 months ago. The last successful Travis-CI build was from 3 months ago, and other projects I know of appear to have not had a successful run in about the same amount of time.

The below repeats every single time. I've also tried to use Github's workflows but they aren't working, either.

Loca

[2021-10-01 17:39] jonniespratley opened #255 "Running examples fails to compile"
1st issue - Is that `Document` was not defined when trying to compile.

`tsconfig.json` was resolved with the following fix:

[code]

2nd Issue - Is that `launcher.ts` compiles with this error:

[code]

[2021-11-05 21:12] shacker commented on #250
I'm seeing this same problem. Switching the region does not make the problem go away. How did you finally solve it?

[2022-01-06 01:33] slatlasdev opened #257 "Sauce Connect v4.6.4 to be deprecated 31 Jan 2022"
Hi

I've been seeing this message in the console on recent SauceLabs Karma runs:

[code]

Looks like bumping the `saucelabs` package might be in order.

Interestingly it appears we're already above that version, but maybe Sauce Connect version is different to the npm `saucelabs` package version:
[code]

[2022-04-27 00:08] seanpoulter commented on #242
Would you welcome a PR for this team?

[2022-04-27 00:15] seanpoulter commented on #257
This sounds related to #256.

[2022-06-21 13:57] dcsaszar opened #269 "Checking for the stored log never terminates if the network is down"
We just observed an endless log of lines like
[code]

At this time Saucelabs tells us
[code]

### Expected
The launcher terminates after some time

### Actual
The launcher never terminates because of a retry logic mistake introduced in 3ef733b00f8713a6fa04aad53d96b0a6dbab06ac:

https://github.com/karma-runner/karma-sauce-launcher/blob/59b0c5c877448e064ad56449cd906743721c6b62/src/utils.ts#L12

[2022-07-20 18:27] seanpoulter commented on #257
Hey @rcebulko and @vojtajina, what's the chance you want help maintaining this repo? I'd be happy to help out here and there. There are a few projects like `isomorphic-git` that are still using Karma.

[2022-08-26 07:53] #269 closed

[2022-09-13 13:08] iamkevinjames commented on #236
@sakshiiii38 Did you get the solution?

If anyone has the solution?

[2022-10-06 19:27] olivier-martin-sf opened #275 "Test fails under Firefox GeckoDriver 0.31.0"
Since Sauce Labs updated (10/04/22) the [Firefox GeckoDriver to version 0.31.0](https://saucelabs.com/blog/update-firefox-tests-before-oct-4-2022) our tests are failing in CI in several projects that runs some integration tests against Firefox latest.

After some investigation, it turns out that the deprecated capability highlighted in the article, `--remote-debugging-port`, is being sent by the `

[2022-10-07 07:32] Lorslux opened #276 "ERROR webdriver: unknown error: failed serving request POST /wd/hub/session: Unauthorized"

[2022-10-07 07:36] Lorslux commented on #276
`const path = require('path');
const { config } = require('./wdio.shared.conf');

// ============
// SauceLabs credentials
// ============

config.user = process.env.SAUCE_USERNAME ;
config.key = process.env.SAUCE_ACCESS_KEY;
config.maxInstances = 3,
//config.isHybridapp = true; //per image comparision

// If you run your tests on Sauce Labs you can specify the region you want to run your tests
//

[2022-10-12 12:05] #276 closed, assigned to nobody

[2022-10-12 12:06] Lorslux commented on #276
done

[2022-11-17 12:53] marcoroth commented on #275
Here's the workaround I used:

Since this was fixed with `webdriverio` [7.19.5](https://github.com/webdriverio/webdriverio/releases/tag/v7.19.5) you can set a yarn-resolution for the `webdriverio` package in `package.json`:
[code]

Ensure with `yarn why webdriverio` you are actually running the right version:
[code]

And then you can use the `moz:debuggerAddress` capability as expected in your con